<configuration scan="true">
  <appender name="STDOUT"  class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date{yyyy-MM-dd HH:mm:ss.S} %-5level [%logger{15}] %msg%n</pattern>
    </encoder>
  </appender>
  
   <appender  name="FILE-ERROR"  class="ch.qos.logback.core.FileAppender">  
    <file>checkerror.log</file>  
    <append>true</append>  
    <encoder>  
      <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>  
    </encoder>  
  </appender> 
  
   <root level="INFO">
    <appender-ref ref="STDOUT" />
     <appender-ref ref="FILE-ERROR"/>
  </root>
  <logger name="org" level="WARN"/>
  <logger name="LogService" level="WARN"/> <!-- Restlet access logging -->
  <logger name="net.floodlightcontroller" level="INFO"/>
  <logger name="net.floodlightcontroller.logging" level="WARN"/>
  <logger name="org.sdnplatform" level="INFO"/>
</configuration>